<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
</head>

<body>
    <div class="container">
        <form action="/question/add/1/" method="post" enctype="multipart/form-data">{% csrf_token %}

            <div class="row">
                <div class="col-8">
                    <label class="form-group">Question</label>
                    <div class="form-group">
                        <textarea name="question" maxlength="1200" class="form-control"></textarea>
                    </div>
                    <label class="form-group">Answer</label>
                    <div class="form-group">
                        <input typr="text" name="answer" maxlength="240" required class="form-control">
                    </div>
                    <label class="form-group">Option2</label>
                    <div class="form-group">
                        <input typr="text" name="option2" maxlength="240" required class="form-control">
                    </div>
                    <label class="form-group">Option3</label>
                    <div class="form-group">
                        <input typr="text" name="option3" maxlength="240" required class="form-control">
                    </div>
                    <label class="form-group">Option4</label>
                    <div class="form-group">
                        <input typr="text" name="option4" maxlength="120" required class="form-control">
                    </div>
                </div>
                
            </div>
            <br><br><button type="submit" class="btn btn-success">Submit</button>
        </form>

  </div>


</body>

</html>